body {
    margin: 0;
    padding: 0;
}
#loading {
    display: initial;
    position: fixed;
    margin-left: -220px;
    margin-top: -145px;
    left: 50%;
    top: 50%;
    width: 441px;
    height: 291px;
}
#ui {
    display: block;
}
.render-tests {
    text-align: center;
}

.render-panel-dad {
    display: block;
}

.options {
    text-align: left;
}

.option-inputs {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    text-align: left;
    display: inline-block;
    min-height: 2.5em;
    background-color: rgb(247, 247, 247);
}

.option-inputs .scaling-radio {
    display: inline-block;
    white-space: wrap;
}

.option-inputs input[type="radio"] {
    margin-right: 5px;
    display: inline-block;
}

.option-inputs label {
    margin-right: 10px;
}

#scaling-custom-inputs input {
    display: inline-block
}

.custom-aspect-ratio {
    width: 3em;
    text-align: center;
}

.custom-resolution {
    width: 5em;
    text-align: center;
}

#restore-default-options {
    display: block;
    margin-top: 15px;
}

.option-text {
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}

.start {
    font-size: 150%;
}

#start-custom {
    margin-top: 20px;
}

.gif {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(187, 187, 187);
    height: 116px;
    width: 114px;
    border-radius: 5px 5px 5px 5px;
}

.gif img {
    margin-top: 5px;
}

#drop-zone {
    position: relative;
    display: table;
    width: 100%;
    border: 2px dashed rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    text-align: center;
    color: rgb(87, 87, 87);
    height: 200px;
}

#drop-zone:hover {
    border: 2px solid #428bca;
    cursor: pointer;
    color: #a3cef5;
}

#drop-zone-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.preview-size {
    display: inline-block;
}

#info-panel {
    font-family: 'Lato';
    font-size: 14px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    top: 18px;
    left: 18px;
    background: white;
    width: 335px;
}

#info-panel:hover {
    cursor: auto;
}

canvas:hover {
    cursor: move;
}

#info-panel h3 {
    margin: 0px;
    font-weight: 500;
    line-height: 1.1;
    border-bottom: 1px solid #eee;
}

#info-panel h5 {
    padding: 2px 5px;
    border-right: 2px solid #0b2a2f;
    border-left: 2px solid #0b2a2f;
    background-color: #247E8F;
    color: #ffffff;
}

#info-panel ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#info-panel li {
    text-align: left;
    margin-bottom: 10px;
}

#info-panel li div {
    display: inline;
    margin-right: 5px;
}

.info-button {
    text-align: center;
}

.feature-movement-keys {
    width: 2em;
}

.camera-movements-arrows {
    position: relative;
    top: -1em;
    left: 4.5em;
}

#mouse-icon {
    position: relative;
    width: 30px;
    top: -15px;
    left: 30px;
}

.key-up-center {
    margin-left: 2.1em;
    margin-bottom: 0.1em;
}

.key-up-far-right {
    margin-left: 2.6em;
}
.key-down-far-right {
    margin-left: 0.5em;
}
.key-down-center {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.feature-hotkeys {
    font-weight: bold;
}

.feature-value {
    float: right;
}

.feature-number-input {
    width: 40px;
}

.button-inc-dec {
    width: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.info-category {
    margin-bottom: 20px;
}

#top-message {
    position: fixed;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

#top-message span {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    opacity: 0.5;
}

#fps-counter-holder {
    width: 100px;
    display: block;
    float: right;
    text-align: right;
}

#fps-counter-holder span {
    display: inline-block;
    margin-left: 5px;
}

#fps-counter-holder div {
    display: inline-block;
}

.reset-button {
    float: right;
    margin-right: 5px;
}

#camera-right-panel {
    float: right;
}

#camera-movement-indicator {
    margin-top: 10px;
    margin-bottom: 14px;
}

.camera-field-header {
    text-align: center;
    font-size: 60%;
    margin-bottom: 2px;
}

.camera-coordinate {
    display: inline-block;
    width: 30px;
}

.camera-field-group {
    text-align: right;
    font-size: 70%;
}

.camera-field-name {
    text-align: left;
    float: left;
    margin-top: -3px;
    margin-left: -20px;
}

input.camera-field::-webkit-inner-spin-button,
input.camera-field::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.camera-field {
    border-width: 0;
    font-size: 60%;
    margin-top: -5px;
    display: inline-block;
    width: 30px;
    overflow: hidden;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.camera-field-left {
    line-height: 1.1;
    border-right: 1px solid rgb(187, 187, 187);
}

.camera-field-right {
    line-height: 1.1;
    border-left: 1px solid rgb(187, 187, 187);
}

.camera-field-center {
    margin-left: -3px;
    margin-right: -3px;
    border-left: 1px solid rgb(187, 187, 187);
}

.camera-field-mid {
    line-height: 1.1;
    border-top: 1px solid rgb(187, 187, 187);
    border-bottom: 1px solid rgb(187, 187, 187);
    margin-bottom: -1px;
}

.display-none {
    display: none !important;
}

#fork-me {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 8%;
}

@media all and (max-width: 767px) {
    .margin-sm-bottom {
        margin-bottom: 25px;
    }

    .jumbotron > .row {
        flex-direction: column
    }

    .margin-left {
        margin-left: 0;
    }

    #fork-me {
        width: 110px;
    }
}