body {
    margin: 0;
    padding: 0;
}
#loading {
    display: initial;
    position: fixed;
    margin-left: -220px;
    margin-top: -145px;
    left: 50%;
    top: 50%;
    width: 441px;
    height: 291px;
}
#ui {
    display: block;
}
.render-tests {
    text-align: center;
}

.render-panel-dad {
    display: block;
}

.options {
    text-align: left;   
}

.option-inputs {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 5px;
    text-align: left;
    display: inline-block;
    min-height: 2.5em;
    background-color: rgb(247, 247, 247);
}

.option-inputs .scale-radio {
    display: inline-block;
    white-space: wrap;
}

.option-inputs input {
    margin-right: 5px;
    display: inline-block;
}

.option-inputs label {
    margin-right: 10px;
}

#scale-custom-inputs input {
    height: 1.5em;
    display: inline-block
}

.option-text {
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}

.start {
    font-size: 150%;
}

#start-custom {
    margin-top: 20px;
}

.gif {
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed rgb(187, 187, 187);
    height: 101px;
    width: 114px;
    border-radius: 5px 5px 5px 5px;
}

.gif img {
    margin-top: 5px;
}

#drop-zone {
    border: 2px dashed rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    padding: 50px;
    text-align: center;
    color: rgb(87, 87, 87);
    height: 200px;
}

#drop-zone:hover {
    border: 2px solid #428bca;
    cursor: pointer;
    color: #428bca;
}

#info-panel {
    padding: 10px;
    border: 2px dashed rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    top: 25px;
    left: 25px;
    background: white;
    width: 300px;
}

#info-panel h3 {
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    border-bottom: 1px solid #eee;
}

#info-panel h5 {
    font-weight: bold;
}

#info-panel ul {
    margin-left: -10px;
    list-style-type: none;
    list-style-position: inside;
}

#info-panel li {
    text-align: left;
    margin-bottom: 10px;
}

#info-panel li div {
    display: inline;
    margin-right: 5px;
}

.info-button {
    text-align: center;
}

#info-panel input {
    height: 25px;
}

.feature-hotkeys {
    padding-right: 5px;
    border-right: 2px solid rgb(187, 187, 187);
    border-left: 2px solid rgb(187, 187, 187);
    padding-left: 5px;
    margin-left: -20px;
    background-color: #428bca;
    color: #eee;
}

.info-category {
    margin-bottom: 20px;
}

#top-message {
    position: fixed;
    top: 30px;
    width: 100%;
    text-align: center;
}

#top-message span {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    font-size: 200%;
    font-weight: bold;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    color: white;
    opacity: 0.5;
}

#fps-counter-holder {
    width: 100px;
    display: block;
    float: right;
    text-align: right;
}

#fps-counter-holder span {
    display: inline-block;
    margin-left: 5px;
}

#fps-counter-holder div {
    display: inline-block;
}


.display-none {
    display: none !important;
}