body {
    margin: 0;
    padding: 0;
}
#loading {
  position: fixed;
  margin-left: -220px;
  margin-top: -145px;
  left: 50%;
  top: 50%;
  width: 441px;
  height: 291px;
}

.render-tests {
    text-align: center;
}

.render-panel-dad {
    display: block;
}

.options {
    text-align: left;   
}

.option-inputs {
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 5px;
    text-align: left;
    display: inline-block;
    height: 2.5em;
    background-color: rgb(247, 247, 247);
    white-space: nowrap;
}

.option-inputs input {
    margin-right: 5px;
    display: inline-block;
}

.option-inputs label {
    margin-right: 10px;
}

#scale-custom-inputs input {
    height: 1.5em;
}

.option-text {
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
}

.start {
    font-size: 150%;
}

#start-custom {
    margin-top: 20px;
}

.gif {
    margin-left: auto;
    margin-right: auto;
    border: 2px dashed rgb(187, 187, 187);
    height: 101px;
    width: 114px;
    border-radius: 5px 5px 5px 5px;
}

.gif img {
    margin-top: 5px;
}

#drop-zone {
    border: 2px dashed rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    padding: 50px;
    text-align: center;
    color: rgb(87, 87, 87);
    height: 200px;
}

#drop-zone:hover {
    border: 2px solid #428bca;
    cursor: pointer;
    color: #428bca;
}