<style>
    ${require('!css-loader!./css/sim_page.css')}
</style>
<canvas id="gl-canvas-id" tabindex=0></canvas>
<div id="simulation-ui" class="display-none">
    <div id="simulation-text" class="display-none">
        <ul>
            <li><span id="feature-quit">ESC</span> to quit simulation.</li>
            <li><span class="toggle-info-panel">SPACE</span> to toggle panel.</li>
        </ul>
    </div>
    <div id="fps-counter">60</div>
    <div id="info-panel">
        <div id="info-panel-content">
            <div class="collapse-button collapse-top-menu" data-collapse-target="preset-menu">Presets</div>
            <div id="preset-menu" class="info-category">
                <div class="menu-blc-grey">
                    <a class="btn preset-btn" data-preset="crt-aperture-grille-1" href="#">CRT Aperture Grille 1</a>
                    <a class="btn preset-btn" data-preset="crt-shadow-mask-1" href="#">CRT Shadow Mask 1</a>
                    <a class="btn preset-btn" data-preset="crt-shadow-mask-2" href="#">CRT Shadow Mask 2</a>
                    <a class="btn preset-btn" data-preset="sharp-1" href="#">Sharp Pixels</a>
                    <a class="btn preset-btn" data-preset="demo-1" href="#">Flight Demo</a>
                    <a class="btn preset-btn" data-preset="custom" href="#">Custom</a>
                </div>
            </div>
            <div class="collapse-button collapse-top-menu" data-collapse-target="basic-filter-menu">Basic Filter Settings</div>
            <div id="basic-filter-menu" class="info-category">
                <div class="menu-entry menu-2 menu-blc-white">
                        <div class="feature-pack">
                            <div class="feature-name">Internal Resolution</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">Y</sup><sup class="hotkey hk-dec">Shift + Y</sup></div>
                        </div>
                        <div class="feature-value input-holder"><input class="number-input feature-readonly-input" id="feature-internal-resolution" type="text"
                                ></div>
                    </div>
                <div class="menu-entry menu-2 menu-blc-red">
                    <div class="feature-pack">
                        <div class="feature-name">Screen curvature type</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">B</sup><sup class="hotkey hk-dec">Shift + B</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input class="number-input feature-readonly-input" id="feature-change-screen-curvature"
                            type="text" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-blue">
                    <div class="feature-pack">
                        <div class="feature-name">Blur level</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">J</sup><sup class="hotkey hk-dec">Shift + J</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="blur-level" class="number-input feature-modificable-input"
                            type="number" placeholder="0" step="1" min="0" max="100" value="0"></div>
                </div>
            </div>
            <div class="collapse-button collapse-top-menu" data-collapse-target="advanced-filter-menu">Advanced Filter Settings</div>
            <div id="advanced-filter-menu" class="info-category display-none">
                <div class="menu-entry menu-2 menu-blc-red">
                    <div class="feature-pack">
                        <div class="feature-name">Horizontal gap</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">U</sup><sup class="hotkey hk-dec">Shift + U</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="pixel-horizontal-gap"
                            class="number-input feature-modificable-input" type="number" placeholder="0" step="0.001"
                            min="0" max="10" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-red">
                    <div class="feature-pack">
                        <div class="feature-name">Vertical gap</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">I</sup><sup class="hotkey hk-dec">Shift + I</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="pixel-vertical-gap"
                            class="number-input feature-modificable-input" type="number" placeholder="0" step="0.001"
                            min="0" max="10" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-yellow">
                    <div class="feature-pack">
                        <div class="feature-name">Pixel width</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">O</sup><sup class="hotkey hk-dec">Shift + O</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="pixel-width" class="number-input feature-modificable-input"
                            type="number" placeholder="0" step="0.001" min="0" max="10" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-lila">
                    <div class="feature-pack">
                        <div class="feature-name">Vertical lines per pixel</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">K</sup><sup class="hotkey hk-dec">Shift + K</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="vertical-lpp" class="number-input feature-modificable-input"
                            type="number" placeholder="0" step="1" min="0" max="100" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-lila">
                    <div class="feature-pack">
                        <div class="feature-name">Horizontal lines per pixel</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">L</sup><sup class="hotkey hk-dec">Shift + L</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="horizontal-lpp" class="number-input feature-modificable-input"
                            type="number" placeholder="0" step="1" min="0" max="100" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-blue">
                    <div class="feature-pack"><div class="feature-name">Source light color </div></div>
                    <div class="feature-value input-holder"><input class="feature-button" id="light-color" type="color" value="#ffffff"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-white">
                    <div class="feature-pack">
                        <div class="feature-name">Brigthness</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">X</sup><sup class="hotkey hk-dec">Shift + X</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="pixel-brightness"
                            class="number-input feature-modificable-input" type="number" placeholder="0" step="0.001"
                            min="-1" max="1" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-white">
                    <div class="feature-pack">
                        <div class="feature-name">Contrast</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">Z</sup><sup class="hotkey hk-dec">Shift + Z</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="pixel-contrast" class="number-input feature-modificable-input"
                            type="number" placeholder="0" step="0.001" min="0" max="20" value="1"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-red">
                    <div class="feature-pack">
                        <div class="feature-name">Color channels type</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">C</sup><sup class="hotkey hk-dec">Shift + C</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input class="number-input feature-readonly-input" id="feature-change-color-representation"
                            type="text" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-yellow">
                    <div class="feature-pack">
                        <div class="feature-name">Pixel geometry type</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">V</sup><sup class="hotkey hk-dec">Shift + V</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input class="number-input feature-readonly-input" id="feature-change-pixel-geometry"
                            type="text" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-blue">
                    <div class="feature-pack">
                        <div class="feature-name">Pixel texture</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">N</sup><sup class="hotkey hk-dec">Shift + N</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input class="number-input feature-readonly-input" id="feature-change-pixel-shadow-shape"
                            type="text" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-lila">
                    <div class="feature-pack">
                        <div class="feature-name">Pixel variable height</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">M</sup><sup class="hotkey hk-dec">Shift + M</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input class="number-input feature-modificable-input" id="feature-change-pixel-shadow-height"
                            type="number" placeholder="0" step="0.001" min="0" max="1" value="0"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-yellow">
                    <div class="feature-pack">
                        <div class="feature-name">Texture Interpolation</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">H</sup><sup class="hotkey hk-dec">Shift + H</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input class="number-input feature-readonly-input" id="feature-texture-interpolation"
                            type="text"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-green">
                        <div class="feature-pack">
                        <div class="feature-name">Backlight</div><div class="feature-hotkeys"><sup class="hotkey hk-inc"> </sup><sup class="hotkey hk-inc">dot</sup><sup class="hotkey hk-dec">Shift + dot</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input class="number-input feature-modificable-input" id="feature-backlight-percent"
                            type="number" placeholder="0.5" step="0.001" min="0" max="1" value="0.5"></div>
                </div>
                <div class="menu-entry menu-2 display-none">
                    <div class="feature-pack">
                        <div class="feature-name">Pixel Spread</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">P</sup><sup class="hotkey hk-dec">Shift + P</sup></div>
                    </div>
                    <div class="feature-value input-holder"><input id="pixel-spread"
                            class="number-input feature-modificable-input" type="number" placeholder="0"
                            step="0.001" min="0" max="10" value="0"></div>
                </div>
                <div class="menu-entry menu-2 display-none">
                    <div class="feature-pack">
                        <div class="feature-name">Brightness color</div>
                    </div>
                    <div class="feature-value input-holder"><input class="feature-button" id="brightness-color" type="color" value="#ffffff"></div>
                </div>
                <div id="reset-filters" class="menu-entry menu-2 menu-button menu-blc-grey">
                        <div class="feature-pack">
                            <div class="feature-name">Reset Filter Values</div>
                        </div>
                        <div class="feature-value input-holder"><div></div></div>
                </div>
            </div>
            <div class="collapse-button collapse-top-menu" data-collapse-target="camera-menu">Camera</div>
            <div id="camera-menu" class="info-category display-none">
                <div id="movement-mode" class="menu-entry menu-2 menu-blc-lila">
                    <div class="feature-pack">
                        <div class="feature-name">Movement Type</div>
                        <div class="feature-hotkeys"><sup class="hotkey hk-inc">G</sup><sup class="hotkey hk-dec">Shift + G</sup></div>
                    </div>
                    <div id="feature-camera-movement-mode" class="feature-value input-holder">
                        <input id="camera-movement-mode" class="number-input feature-readonly-input" type="text"
                            value="Lock on Display">
                    </div>
                </div>
                <div class="menu-dual-entry-container">
                    <div class="menu-dual-entry-item menu-dual-entry-1 menu-blc-red">
                        <div class="feature-name">Translation</div>
                        <div id="feature-camera-movements" class="arrows-grid arrows-grid-move-lock">
                            <div></div><div class="input-cell"><input type="button" class="activate-button feature-modificable-input" value="W"></div><div></div><div></div><div class="input-cell"><input type="button" class="activate-button feature-modificable-input free-mode-only-controls display-none" value="Q"></div>
                            <div class="input-cell"><input type="button" class="activate-button feature-modificable-input" value="A"></div><div class="input-cell"><input type="button" class="activate-button feature-modificable-input" value="S"></div><div class="input-cell"><input type="button" class="activate-button feature-modificable-input" value="D"></div><div></div><div><input type="button" class="activate-button feature-modificable-input free-mode-only-controls display-none" value="E"></div>
                        </div>
                    </div>
                    <div class="menu-dual-entry-item menu-dual-entry-2">
                        <div class="feature-name">Rotation</div>
                        <div id="feature-camera-turns" class="arrows-grid arrows-grid-turn">
                                <div></div><div><input type="button" class="activate-button feature-modificable-input" value="↑"></div><div></div><div></div><div><input type="button" class="activate-button feature-modificable-input" value="+"></div><div class="rotator">⟳</div>
                                <div><input type="button" class="activate-button feature-modificable-input" value="←"></div><div><input type="button" class="activate-button feature-modificable-input" value="↓"></div><div><input type="button" class="activate-button feature-modificable-input" value="→"></div><div></div><div><input type="button" class="activate-button feature-modificable-input" value="-"></div><div class="rotator">⟲</div>
                        </div>
                    </div>
                </div>
                <div class="camera-matrix input-holder">
                    <div class="matrix-row menu-blc-red"></div><div class="matrix-top-row"><label class="text-center">X</label></div><div class="matrix-top-row"><label class="text-center">Y</label></div><div class="matrix-top-row"><label class="text-center">Z</label></div>
                    <div class="matrix-row menu-blc-red"><div class="matrix-row-head">positon</div></div><div class="input-cell"><input id="camera-pos-x" class="feature-modificable-input" type="number" step="0.01"></div><div class="input-cell"><input id="camera-pos-y" class="feature-modificable-input" type="number" step="0.01"></div><div class="input-cell"><input id="camera-pos-z" class="feature-modificable-input" type="number" step="0.01"></div>
                    <div class="matrix-row menu-blc-red"><div class="matrix-row-head">direction</div></div><div class="input-cell"><input id="camera-dir-x" class="feature-modificable-input" type="number" step="0.01"></div><div class="input-cell"><input id="camera-dir-y" class="feature-modificable-input" type="number" step="0.01"></div><div class="input-cell"><input id="camera-dir-z" class="feature-modificable-input" type="number" step="0.01"></div>
                    <div class="matrix-row menu-blc-red"><div class="matrix-row-head">axis up</div></div><div class="input-cell"><input id="camera-axis-up-x" class="feature-modificable-input" type="number" step="0.01"></div><div class="input-cell"><input id="camera-axis-up-y" class="feature-modificable-input" type="number" step="0.01"></div><div class="input-cell"><input id="camera-axis-up-z" class="feature-modificable-input" type="number" step="0.01"></div>
                </div>
                <div class="menu-entry menu-2 menu-blc-blue">
                    <div class="feature-pack">
                        <div class="feature-name">Zoom</div>
                        <div class="feature-hotkeys"><sup class="hotkey hk-inc">Mouse Wheel Up</sup><sup class="hotkey hk-dec">Mouse Wheel Down</sup></div>
                    </div>
                    <div id="camera-zoom-parent" class="feature-value input-holder"><input id="camera-zoom"
                            class="number-input feature-modificable-input" type="number" placeholder="0"
                            step="1" min="1" max="45" value="0"></div>
                </div>
                <div id="reset-camera" class="menu-entry menu-2 menu-button menu-blc-grey">
                    <div class="feature-pack">
                        <div class="feature-name">Reset Position</div>
                    </div>
                    <div class="feature-value input-holder"><div></div></div>
                </div>
            </div>
            <div class="collapse-button collapse-top-menu" data-collapse-target="velocity-menu">Velocity</div>
            <div id="velocity-menu" class="info-category display-none">
                    <div class="menu-entry menu-2 menu-blc-red">
                        <div class="feature-pack">
                            <div class="feature-name">Camera speed</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">F</sup><sup class="hotkey hk-inc">R</sup></div>
                        </div>
                        <div class="feature-value input-holder"><input id="feature-change-move-speed"
                                class="number-input feature-readonly-input" type="text"></div>
                    </div>
                    <div class="menu-entry menu-2 menu-blc-blue">
                        <div class="feature-pack">
                            <div class="feature-name">Filter speed</div><div class="feature-hotkeys"><sup class="hotkey hk-dec">Shift + F</sup><sup class="hotkey hk-inc">                                Shift + R</sup></div>
                        </div>
                        <div class="feature-value input-holder"><input id="feature-change-pixel-speed"
                                class="number-input feature-readonly-input" type="text"></div>
                    </div>
                    <div class="menu-entry menu-2 display-none">
                        <div class="feature-pack">
                            <div class="feature-name">Turn speed</div><div class="feature-hotkeys"><sup class="hotkey hk-inc">Alt + F</sup><sup class="hotkey hk-inc">                                Alt + R</sup></div>
                        </div>
                        <div class="feature-value input-holder"><input id="feature-change-turn-speed"
                                class="number-input feature-readonly-input" type="text"></div>
                    </div>
                    <div id="reset-speeds" class="menu-entry menu-2 menu-button menu-blc-grey">
                        <div class="feature-pack">
                            <div class="feature-name">Reset Speeds</div>
                        </div>
                        <div class="feature-value input-holder"><div></div></div>
                    </div>
            </div>
            <div class="collapse-button collapse-top-menu" data-collapse-target="extra-menu">Extra</div>
            <div id="extra-menu" class="info-category display-none">
                <div id="feature-capture-framebuffer" class="menu-entry menu-2 menu-button menu-blc-yellow">
                    <div class="feature-pack">
                        <div class="feature-name">Take Screenshot</div>
                    </div>
                    <div class="feature-value input-holder"><div></div></div>
                </div>
            </div>
            <div id="feature-quit" class="menu-entry menu-1 menu-button menu-blc-lila">
                <div class="feature-pack">
                    <div class="feature-name">Back to Landing Page</div>
                </div>
                <div class="feature-value input-holder"><div></div></div>
            </div>
        </div>
        <div id="info-panel-toggle" class="collapse-button collapse-controller" data-collapse-target="info-panel-content" data-close-text="Close Controls" data-open-text="Open Controls"></div>
    </div>
</div>