.menu-dual-entry-container {
    display: grid;
    grid-template-columns: 201px 195px;
}

.menu-dual-entry-2 {
    border-left-color:rgb(44, 44, 44);
    border-left-style:solid;
    border-left-width:1px;
}

.menu-dual-entry-item {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-color:rgb(44, 44, 44);
    border-bottom-style:solid;
    border-bottom-width:1px;
    background-attachment:scroll;
    background-clip:border-box;
    background-color:rgb(26, 26, 26);
    background-image:none;
    background-origin:padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-size:auto;
    line-height:27px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    font-family:"Lucida Grande", sans-serif;
    font-size:16px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:400;
}

.arrows-grid {
    display: grid;
    grid-template-rows: 26px 26px;
    justify-items: center;
    align-items: center;
    margin: 15px;
}

.arrows-grid-move-free {
    grid-template-columns: 31px 31px 31px 4px 31px;
}

.arrows-grid-move-lock {
    grid-template-columns: 31px 31px 31px 0px 0px;
}

.arrows-grid-turn {
    grid-template-columns: 31px 31px 31px 4px 31px 20px;
}

.arrows-grid input[type="button"] {
    width: 31px;
    height: 26px;
    text-align: center;
}

.arrows-grid input[type="button"]:hover {
    color: white !important;
    background-color: rgb(70, 70, 70) !important;
    cursor: pointer;
}

.camera-matrix {
    display: grid;
    grid-template-columns: 66px 110px 110px 110px;
    grid-template-rows: 28px 28px 28px 28px;
    align-items: center;
    justify-items: center;
}

.matrix-top-row label {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.matrix-top-row {
    height: 27px;
    width: 100%;
    border-bottom-color:rgb(44, 44, 44);
    border-bottom-style:solid;
    border-bottom-width:1px;
    background-attachment:scroll;
    background-clip:border-box;
    background-color:rgb(26, 26, 26);
    background-image:none;
    background-origin:padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-size:auto;
    justify-self: center;
    align-self: center;
    line-height:27px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;    
}

.camera-matrix .matrix-row {
    height: 27px;
    width: 63px;
    border-bottom-color:rgb(44, 44, 44);
    border-bottom-style:solid;
    border-bottom-width:1px;
    background-attachment:scroll;
    background-clip:border-box;
    background-color:rgb(26, 26, 26);
    background-image:none;
    background-origin:padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-size:auto;
    justify-self: center;
    align-self: center;
    line-height:27px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

.matrix-row .matrix-row-head {
    margin-left: 5px;
    font-family:"Lucida Grande", sans-serif;
    font-size:11px;
    font-stretch:100%;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-east-asian:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:400;
}

.camera-matrix input {
    height: 21px;
    width: 100px !important;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.camera-matrix .input-cell {
    width: 110px;
    height: 27px;
    text-align: center;
    border-bottom-color:rgb(44, 44, 44);
    border-bottom-style:solid;
    border-bottom-width:1px;
    background-attachment:scroll;
    background-clip:border-box;
    background-color:rgb(26, 26, 26);
    background-image:none;
    background-origin:padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-size:auto;
}

.menu-dual-entry-container input[type="button"] {
    color: #2FA1D6;
    background: #303030;
    outline: none;
    border: 0;
    padding: 3px;
}

.menu-dual-entry-container input[type="button"]:hover {
    color: #2FA1D6;
    background: #303030;
    outline: none;
    border: 0;
    padding: 3px;
}

.rotator {
    margin-left: 5px;
    color: rgb(88, 88, 88);
    font-size: 11;
}

.text-center {
    text-align: center;
}