#simulation-ui {
    position: absolute;
    left: 0;
    top: 0;
}

canvas:hover {
    cursor: move;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}