<style>
    ${require('!css-loader!./css/landing_page.css')}
</style>

<section id="ui" class="display-none">
    <a href="https://github.com/theypsilon/display-sim">
        <img id="fork-me" src="${ require('../../../assets/pics/forkme.png') }" alt="Fork me on GitHub">
    </a>
    <header class="container bg-white jumbotron page-header">
        <h1 class="margin-sm-bottom">Display Sim</h1>
        <div class="row">
            <div class="col-md-6 col-sm-12 margin-sm-bottom">
                <p>This tool offers you a way to explore video filtering parameters that could be used to recreate
                    old
                    display visual appearances within modern LCD screens.</p>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-12 text-center">
                <p>Don't get why this is a thing?</p>
                <a class="btn btn-crt btn-green text-white" href="#explanation">Read some explanation below</a>
            </div>
        </div>
    </header>

    <section class="warning bg-warning text-white">
        <div class="container text-center">
            <p class="text-big spacing-md"><strong>WARNING! Mobile devices won't work!</strong></p>
            <p>You need a PC with NVIDIA or ATI graphics card with updated drivers and a<br>WebGL2 compatible
                browser
                (Firefox, Opera or Chrome) in order to run this without problems.</p>
        </div>
    </section>

    <section class="bg-green text-white form">
        <form class="container" id="form" name="form">
            <div class="col-sm-8 render-tests row">
                <div class="margin-sm-bottom">
                    <h3>Select Image</h3>
                    <input type="file" id="file" class="display-none" accept="image/*">
                    <ul id="select-image-list" class="well select-image col-sm-12">
                        <li class="selectable-image selected-image" id="first-preview-image">
                            <div><img src="${ require('../../../assets/pics/opt-frames/wwix.gif') }"
                                    data-hq="${ require('../../../assets/pics/frames/wwix.gif') }"><span>256 ✕
                                    224</span>
                            </div>
                        </li>
                        <li class="selectable-image">
                            <div><img src="${ require('../../../assets/pics/opt-frames/seiken.png') }"
                                    data-hq="${ require('../../../assets/pics/frames/seiken.png') }"><span>256 ✕
                                    224</span>
                            </div>
                        </li>
                        <li class="selectable-image">
                            <div><img src="${ require('../../../assets/pics/opt-frames/sonicscroll.gif') }"
                                    data-hq="${ require('../../../assets/pics/frames/sonicscroll.gif') }"><span>320
                                    ✕
                                    224</span></div>
                        </li>
                        <li class="selectable-image">
                            <div><img src="${ require('../../../assets/pics/opt-frames/metroid.gif') }"
                                    data-hq="${ require('../../../assets/pics/frames/metroid.gif') }"><span>256 ✕
                                    238</span>
                            </div>
                        </li>
                        <li class="selectable-image">
                            <div><img src="${ require('../../../assets/pics/opt-frames/tf4.gif') }"
                                    data-hq="${ require('../../../assets/pics/frames/tf4.gif') }"><span>320 ✕
                                    224</span></div>
                        </li>
                        <li class="selectable-image">
                            <div><img src="${ require('../../../assets/pics/opt-frames/dkc2.png') }"
                                    data-hq="${ require('../../../assets/pics/frames/dkc2.png') }"><span>256 ✕
                                    224</span>
                            </div>
                        </li>
                        <li id="drop-zone"><span>Add your image here</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="option-header-container">
                    <h3 id="option-header">Options</h3>
                    <div id="option-header-restore"><input class="btn btn-crt btn-white" type="button"
                            id="restore-default-options" value="Restore defaults"></div>
                </div>
                <ul class="options">
                    <li class="option-inputs">
                        <label for="antialias">WebGL Antialiasing:</label>
                        <input type="checkbox" id="antialias" value="antialias">
                    </li>

                    <li class="option-inputs">
                        <label for="option-powerPreference">WebGL Performance:</label>
                        <select id="option-powerPreference" name="option-powerPreference">
                            <option value="default">Default</option>
                            <option value="high-performance">High Performance</option>
                            <option value="low-power">Low Power</option>
                        </select>
                    </li>
                    <li class="option-inputs">
                        <label for="option-scaling">Scaling:</label>
                        <select id="option-scaling" name="option-scaling">
                            <option value="scaling-auto" title="Auto detect">Auto Detect</option>
                            <option value="scaling-none" title="None">None</option>
                            <option value="scaling-4:3" title="4:3 on full image">4:3 on full image</option>
                            <option value="scaling-stretch-both" title="Stretch to both edges">Stretch to both edges
                            </option>
                            <option value="scaling-stretch-nearest" title="Stretch to nearest edge, keeps proportions">
                                Stretch to nearest edge</option>
                            <option value="scaling-custom" title="Introduce the values yourself">Custom</option>
                        </select>
                    </li>
                    <li class="option-inputs">
                        <ul id="scaling-custom-inputs" class="option-inputs display-none">
                            <label>Custom Scaling:</label>
                            <li class="option-inputs option-custom-scaling">
                                <label>Resolution</label>
                                <div>
                                    <input class="custom-resolution" type="number" id="scaling-custom-resolution-width"
                                        value="256" min="1" max="99999">
                                    <span>✕</span>
                                    <input class="custom-resolution" type="number" id="scaling-custom-resolution-height"
                                        value="224" min="1" max="99999">
                                    <input class="display-none" type="button" value="Set to "
                                        id="scaling-custom-resolution-button" title="Set it to fit the uploaded image">
                                </div>
                            </li>
                            <li class="option-inputs option-custom-scaling">
                                <label>Aspect ratio</label>
                                <div>
                                    <input class="custom-aspect-ratio" type="number" id="scaling-custom-aspect-ratio-x"
                                        value="4" min="1" max="99">
                                    <span>:</span>
                                    <input class="custom-aspect-ratio" type="number" id="scaling-custom-aspect-ratio-y"
                                        value="3" min="1" max="99">
                                </div>
                            </li>
                            <li class="option-inputs option-custom-scaling">
                                <label>Stretch to nearest edge</label>
                                <input class="custom-checkbox" type="checkbox" id="scaling-custom-stretch-nearest">
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <input id="start-animation" class="start btn-crt btn-white" type="button" value="Play Simulation">
        </form>
    </section>

    <section class="container explanation">
        <h3>Explanation:</h3>
        <a name="explanation"></a>
        <p>Old displays were designed to work with analog video signals carrying low resolution content. They used
            fundamentally different technologies (such as CRT) to represent images on the screen, than the LCD-based
            technologies that we use nowadays. Because of this, is no surprise that content created during that era
            is
            not fitting well our recently manufactured displays.</p>
        <p>That content was obviously never designed for the 21th century video systems. For example, consoles like
            the
            Mega Drive did usually work with resolutions such as 256x224 or 320x224 that would be deformed to fit a
            4:3
            screen. But because our current displays are made of a grid of fixed pixels, supporting only one native
            resolution, and one native aspect ratio, accomodating those kind of images can't be done without
            compromises.</p>
        <p>CRT's didn't have that constraint, they support multiple resolutions and aspect ratios natively. And
            graphics
            were designed with aspect ratio transformations in mind. Therefore, when in our current displays, we
            scale
            the picture by multiplying the original resolution by a given integer factor, those graphics are heavily
            distorted. Stretching the images to fit a 4:3 aspect ratio within the current resolution also gives
            distortion as result, because we would have to do some sort of pixel interpolation.</p>
        <p>Another issue is that the CRTs didn't render perfectly adyacent and squared pixels. This also alters
            heavily
            the perception of old graphics, which in today screens are looking too sharp. In old CRT's there was an
            inherent smooth effect, depending also on the analog video signal quality, that in some cases was used
            to
            make semi-transparency effects in games (see dithering).</p>
        <p>In order to preserve the CRT-era content, lots of work have been done in filters. They work usually by
            blending pixels and introducing gaps and effects. And they can be quite good, but there is still a
            significant amount of progress to be done in order to get closer to the original look.</p>
        <p>This project tries to experiment in a 3D space where every pixel is a 3D object, and filter parameters
            can be
            changed on the fly. This is an approach that I haven't seen so far, and offers great flexibility, so I
            had
            to give it a try. With the given controls, it's easy to recreate a simple scanlines filter while having
            many
            more advanced possibilities available.</p>
        <p>The tool renders automatically in your current screen resolution. I recommend having a 4k display,
            because
            the higher resolution, the more you can do to recreate a more accurate visualization. I also recommend
            having a decent GPU, because computing power can be also a limiting factor when playing with heavy
            filters.
        </p>
        <p>Keep in mind, that you should be uploading low res pictures, which is the original use case I intended to
            cover. Anything below 540p is fine. Here you got a <a
                href="https://www.google.com/search?q=snes&biw=1853&bih=950&tbm=isch&source=lnt&tbs=isz:ex,iszw:256,iszh:224">link</a>
            with plenty of pictures of this kind. Keep in mind the scaling options you can select above, to fix the
            aspect ratio missmatches when working with other retro system with special screens (like the Game Boy).
        </p>
    </section>

    <footer class="clear text-white bg-footer">
        <div class="container">
            <h3>Credits</h3>
            <div class="row">
                <div class="col-sm-4 margin-sm-bottom">
                    <label>Concept + Implementation</label>
                    <p>José Manuel Barroso Galindo<br>&lt;theypsilon@gmail.com&gt;</p>
                </div>
                <div class="col-sm-4 margin-sm-bottom">
                    <label>Landing page Designer</label>
                    <p>Ana Manosfrias<br>&lt;a.gilamor@gmail.com&gt;</p>
                </div>
                <div class="col-sm-4 margin-sm-bottom">
                    <label>Spaceship sprites</label>
                    <p>Ryoga<br>&lt;pig_saint@gmail.com&gt;</p>
                </div>
            </div>
        </div>
    </footer>
</section>