#fps-counter-holder {
    width: 100px;
    display: block;
    float: right;
    text-align: right;
}

#fps-counter-holder span {
    display: inline-block;
    margin-left: 5px;
}

#fps-counter-holder div {
    display: inline-block;
}
