#info-panel {
    font-family: 'Lato';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 18px;
    background: #333;
    width: 400px;
    z-index: 1;
    color: #eee;
    opacity: 0.9;
}

#info-panel-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 95vh;
    width: 400px;
}

#info-panel-content::-webkit-scrollbar-corner
{
    height: 0;
    display: none;
}

#info-panel-content::-webkit-scrollbar
{
    width: 5px;
    background: #1a1a1a;
}

#info-panel-content::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    background: #676767;
}

.info-panel-settings {
    overflow-y: auto;
    background-color: white;
    color: rgb(9, 9, 9);
}

.info-panel-settings::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, rgb(228, 90, 115), #C1435A);
}

.info-panel-settings::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.info-panel-settings::-webkit-scrollbar-thumb {
    background-color: #C1435A;
    border-radius: 1px;
}

.info-panel-settings::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(61, 61, 61, 0.3);
    box-shadow: inset 0 0 6px rgba(61, 61, 61, 0.3);
    background-color: #F5F5F5;
    border-radius: 1px;
}

#info-panel:hover {
    cursor: auto;
}